body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dd{margin:0; padding:0; border:0;font-family: 微软雅黑,黑体;}


.body{}
.bod_1{margin: 0 auto;background-color:white;height: 25px; text-align:center;  }
.body_1{font-family: 微软雅黑,黑体;}
.body_1_a{font-size: 16px;color: #0066CC;}
.body_1_a1{font-size: 16px;color: orange}
.body_1_a1:hover{font-size: 16px;color: #0066CC;}

/*头部*/
.header{background-color:#0066CC;}
.top{ margin: 0 auto;width:1280px;font-family: 微软雅黑;background-color: #0066CC; height: 120px; padding-top:30px;}
.top_color{background-color: #0066CC; height:auto;}
.top_name{margin-left: 50px; color: #FFFFFF; }
.top_name_a{ font-weight:500; font-family: 微软雅黑; font-size: 32px;}
.top_name_a1{margin-top:10px;}
.top_name_a1_a{ font-family: 微软雅黑; font-size: 16px;}
.top_photo{ margin-top:-105px; float: right; margin-right:10px;padding-bottom:10px}
.top_photo img{ height:115px; width:115px;}
/*头部结束*/

/*介绍开始*/
.introduce{margin: 0px auto;width:1280px;font-family: 微软雅黑; height:auto;margin-top:5px;}
.introduce_div{width:300px; height:140px; margin-top:8px;  border: 1px solid #CCCCCC;padding-bottom:5px;}
.introduce_div_2{width:300px;height: 125px; margin-top:7px;  border: 1px solid #CCCCCC }
.introduce_div_3{width:300px;height: 130px; margin-top:7px;  border: 1px solid #CCCCCC }
.introduce_div_4{width:300px;height: 110px; margin-top:7px;  border: 1px solid #CCCCCC }
.introduce_div_5{width:300px;height: 115px; margin-top:7px;  border: 1px solid #CCCCCC }
.introduce_top{border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #0066CC; text-align: center;font-size: 18px; padding-top: 8px; padding-bottom: 8px;background-color: #E8E8E8; }
.introduce_content{width:290px; height:80px; padding-bottom:10px; margin-left:10px;font-size: 14px; margin-top:5px;text-align: left;}
.introduce_content_2{width:290px; height:100px; padding-bottom:5px; margin-left:10px;font-size: 14px; margin-top:5px;text-align: left; margin-top:10px;}
.introduce_content_3{width:290px; height:100px; padding-bottom:5px; margin-left:10px;font-size: 14px; margin-top:5px;text-align: left; margin-top:10px;}
.introduce_content_4{width:290px; height:90px; padding-bottom:5px; margin-left:10px;font-size: 14px; margin-top:5px;text-align: left; margin-top:10px;}
.introduce_content_5{width:290px; height:90px; padding-bottom:5px; margin-left:10px;font-size: 14px; margin-top:5px;text-align: left; margin-top:10px;}
.introduce_1{margin: 0px auto;width: 1024px;font-family: 微软雅黑; height:auto;  margin-top:10px;}
/*介绍结束*/

/*镜像源开始*/
.iso{ width:960px;float: right; border: 1px solid #CCCCCC;  margin-top:-668px; height:661px;margin-right:10px}
.iso_name{ height:0px;border-bottom-style: solid; border-bottom-width: 2px; border-bottom-color: #0066CC }
.iso_name_a{height:33px;}
.iso_name_a ul{ text-align:left; height:25px; margin-top:10px; color:Black;}
.iso_name_a ul a{ color:Black;font-weight:600;font-size: 12px;}
.iso_name_a ul li{ font-weight:600;width:auto;float: left;height: 25px;font-size: 14px;border-right-style: solid;border-right-width: 1px;border-right-color: #0066CC;padding-left: 52px; padding-right:52px; margin-left:2px; margin-right: 2px;border-left-style: solid;border-left-width: 1px;border-left-color: #0066CC;}
.col{ height: 750px; width:100%;}
/*镜像源结束*/

/*尾部开始*/
.footer_b{margin: 0 auto;background-color:White; height:1px; text-align:center;width:1280px; display:none;}
.top_1{ margin: 0 auto;width:1280px;font-family: 微软雅黑;background-color: #0066CC; height: 1px; }
.footer{margin: 0 auto;border-top-style: solid; border-top-width: 1px; border-top-color: #0066CC;}
.foot{width:1280px;font-family: 微软雅黑; height:85px; }
.foot_ie{ width:500px; height:40px; margin-top:10px; margin-left:360px; text-align:center;font-size: 14px }
.foot_ie a{ color:Blue;}
/*尾部结束*/